@import "tailwindcss";

* {
    font-family: "";
    /* margin: 0; */
    /* padding: 0; */
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.charkhesh {
    animation: infinite 40s spinn;
}

@keyframes spinn {
  to {
    transform: rotate(360deg);
  }
}